.root {
  height: 466px;
  width: 456px;
  min-width: 55px;
  min-height: 88px;
  max-height: 777px;
  max-width: 8683px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 7px;
  overflow: visible;
  justify-items: center;
  z-index: 777;
  float: 73;
  margin-top: 77px;
  margin-right: 33px;
  margin-bottom: 22px;
  margin-left: 44px;
  padding-left: 88px;
  padding-bottom: 52px;
  padding-right: 2px;
  padding-top: 11px;
}
